/*
  Normalization file from Josh Comeau:
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2"), url("/fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Medium.woff2") format("woff2"), url("/fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.woff2") format("woff2"), url("/fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Black.woff2") format("woff2"), url("/fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Light.woff2") format("woff2"), url("/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.woff") format("woff2"), url("/fonts/Montserrat-Regular.woff.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*, *::before, *::after {
  z-index: 3;
}

.page {
  background-color: #1E1E1E;
  z-index: 1;
  position: relative;
}
.page__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1140px;
  padding: 50px 30px 20px;
  margin: 0 auto;
}
@media only screen and (max-width: 31.25em) {
  .page__wrapper {
    padding: 0;
    padding-bottom: 15px;
    align-items: stretch;
  }
}
.page__header {
  margin-bottom: 75px;
}
@media only screen and (max-width: 31.25em) {
  .page__header {
    margin: 0;
    padding: 20px 14px;
  }
}
.page__main {
  flex-grow: 1;
  padding-bottom: 100px;
}
@media only screen and (max-width: 46.25em) {
  .page__main {
    padding-bottom: 80px;
  }
}
@media only screen and (max-width: 31.25em) {
  .page__main {
    z-index: 1;
    padding: 100px 14px 40px;
  }
}
.page__footer {
  padding: 20px 14px 0;
}

.orange-grad {
  background-image: linear-gradient(to right, #FCB045 37%, #FF3F78 100%);
}
.orange-grad--diag {
  background-image: linear-gradient(135deg, #FCB045 0%, #FCB045 30%, #FF3F78 100%);
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
@media only screen and (max-width: 46.25em) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 31.25em) {
  .header {
    background-color: #1E1E1E;
    z-index: 3;
    display: block;
    position: fixed;
    width: 100%;
  }
}
.header__logo {
  margin-right: 53px;
  padding-bottom: 15px;
}
@media only screen and (max-width: 46.25em) {
  .header__logo {
    margin: 0;
  }
}
@media only screen and (max-width: 31.25em) {
  .header__logo {
    display: none !important;
  }
}
.header__nav {
  padding-bottom: 15px;
}
@media only screen and (max-width: 46.25em) {
  .header__nav {
    padding-bottom: 0;
  }
}
.header__contacts {
  margin-left: auto;
}
@media only screen and (max-width: 46.25em) {
  .header__contacts {
    margin: 0;
  }
}
@media only screen and (max-width: 31.25em) {
  .header__contacts {
    display: none !important;
  }
}

.logo__link {
  display: block;
  margin-bottom: 10px;
}
.logo__link:hover {
  opacity: 0.8;
}
.logo__motto {
  max-width: 140px;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 300;
  color: #E4E5EA;
}
.logo__motto abbr {
  font: inherit;
  color: #E4E5EA;
}

@media only screen and (max-width: 31.25em) {
  .nav {
    width: 100%;
  }
}
.nav__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
@media only screen and (max-width: 31.25em) {
  .nav__list {
    justify-content: space-between;
  }
}
.nav__item:not(:last-child) {
  margin-right: 30px;
}
@media only screen and (max-width: 31.25em) {
  .nav__item:not(:last-child) {
    margin: 0;
  }
}
@media only screen and (max-width: 31.25em) {
  .nav__item:last-child {
    display: none !important;
  }
}
.nav__link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #E4E5EA;
  text-decoration: none;
}
.nav__link:hover {
  color: #b9bcc9;
}
@media only screen and (max-width: 31.25em) {
  .nav__link {
    text-transform: uppercase;
    font-size: 12px;
  }
}

.head-contacts {
  display: flex;
}
.head-contacts__phone {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #E4E5EA;
  text-decoration: none;
}
.head-contacts__phone:hover {
  color: #b9bcc9;
}
.head-contacts__socials {
  margin-left: 47px;
}

.socials {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-column-gap: 30px;
  justify-content: end;
  margin-bottom: 19px;
}
.socials--footer {
  grid-column-gap: 12px;
}
@media only screen and (max-width: 46.25em) {
  .socials--footer {
    justify-content: start;
  }
}
.socials__link {
  text-decoration: none;
}
.socials__link:hover {
  opacity: 0.8;
}

.main {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 46.25em) {
  .main {
    flex-direction: column;
  }
}
@media only screen and (max-width: 31.25em) {
  .main {
    background-image: url(/img/noise.png);
    background-size: cover;
  }
}
@media only screen and (max-width: 46.25em) {
  .main__hero {
    margin-bottom: 20px;
  }
}

.hero__title {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: #E4E5EA;
  max-width: 380px;
  margin: 0;
  margin-bottom: 30px;
}
@media only screen and (max-width: 46.25em) {
  .hero__title {
    font-size: 36px;
  }
}
@media only screen and (max-width: 31.25em) {
  .hero__title {
    max-width: 275px;
  }
}
.hero__title--bold {
  display: inline-block;
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__info {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #E4E5EA;
  max-width: 275px;
}

.consult {
  text-align: right;
}
@media only screen and (max-width: 46.25em) {
  .consult {
    text-align: left;
  }
}
.consult__title {
  margin-bottom: 40px;
}
.consult__title--text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #E4E5EA;
}
.consult__title--bold {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #E4E5EA;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FCB045;
}
@media only screen and (max-width: 31.25em) {
  .consult__title--bold {
    text-transform: lowercase;
    letter-spacing: 0;
  }
}
.consult__list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 138px);
  margin-bottom: 60px;
}
@media only screen and (max-width: 31.25em) {
  .consult__list {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 31.25em) {
  .consult__list--desktop {
    display: none;
  }
}
.consult__list--mobile {
  display: none;
}
@media only screen and (max-width: 31.25em) {
  .consult__list--mobile {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #E4E5EA;
  }
}
.consult__list--mobile .consult__item {
  padding-left: 15px;
  position: relative;
}
.consult__list--mobile .consult__item::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  height: 1px;
  width: 10px;
  background-image: linear-gradient(to right, #FCB045 37%, #FF3F78 100%);
}
.consult__item {
  padding: 0;
}
.consult__item-info {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #E4E5EA;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
}
.consult__item-details {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #E4E5EA;
  display: block;
}
.consult__item-details abbr {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #E4E5EA;
}
.consult__button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #E4E5EA;
  background-color: #4077F3;
  padding: 21px 35px;
  border: none;
  cursor: pointer;
}
.consult__button:hover {
  background-color: #1055f0;
}
@media only screen and (max-width: 31.25em) {
  .consult__button {
    font-size: small;
    padding: 13px 25px;
  }
}
@media only screen and (max-width: 31.25em) and (max-width: 31.25em) {
  .consult__button {
    display: none !important;
  }
}

@media only screen and (max-width: 31.25em) {
  .footer {
    background-color: #1E1E1E;
  }
}
.footer__wrapper {
  display: flex;
  margin-bottom: 33px;
}
@media only screen and (max-width: 46.25em) {
  .footer__wrapper {
    display: block;
  }
}
.footer__about {
  margin-right: 98px;
}
@media only screen and (max-width: 46.25em) {
  .footer__menu {
    margin-bottom: 30px;
  }
}
.footer__contacts {
  margin-left: auto;
}
@media only screen and (max-width: 46.25em) {
  .footer__contacts {
    margin: 0;
  }
}
.footer__law {
  text-align: right;
}
@media only screen and (max-width: 46.25em) {
  .footer__law {
    text-align: left;
  }
}
.footer__law-copy {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #E4E5EA;
  display: block;
  margin-bottom: 5px;
}
.footer__law-copy span, .footer__law-copy time {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #E4E5EA;
}
.footer__law-link {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #E4E5EA;
  text-decoration: none;
  text-decoration: underline;
}
.footer__law-link:hover {
  color: #b9bcc9;
}

.footer-block__title {
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #656566;
  margin-bottom: 20px;
  letter-spacing: 0.05em;
}
.footer-block__list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-auto-flow: column;
  grid-row-gap: 10px;
  grid-column-gap: 50px;
}
@media only screen and (max-width: 31.25em) {
  .footer-block__item--thank {
    grid-row: 1/2;
    grid-column: 2/3;
  }
}
.footer-block__link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #E4E5EA;
  text-decoration: none;
}
.footer-block__link:hover {
  color: #b9bcc9;
}
@media only screen and (max-width: 31.25em) {
  .footer-block__link {
    font-size: 14px;
  }
}
.footer-block__link span {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #E4E5EA;
  text-decoration: none;
}
.footer-block__link span:hover {
  color: #b9bcc9;
}
@media only screen and (max-width: 31.25em) {
  .footer-block__link span {
    font-size: 14px;
  }
}

.foot-contacts {
  text-align: right;
}
@media only screen and (max-width: 46.25em) {
  .foot-contacts {
    text-align: left;
  }
}
.foot-contacts__title {
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #656566;
  margin-bottom: 20px;
  letter-spacing: 0.05em;
}
.foot-contacts__phone {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #E4E5EA;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}
.foot-contacts__phone:hover {
  color: #b9bcc9;
}
.foot-contacts__address {
  font-style: normal;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #E4E5EA;
}

.balls {
  position: relative;
  overflow-x: clip;
}

.red-light {
  width: 311px;
  height: 311px;
  background-color: #961A1A;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  top: 250px;
  filter: blur(392px);
}

.purple-light {
  width: 259px;
  height: 259px;
  background-color: #833AB4;
  border-radius: 50%;
  position: absolute;
  left: 40%;
  transform: translate(0, -50%);
  z-index: 0;
  filter: blur(392px);
}
@media only screen and (max-width: 31.25em) {
  .purple-light {
    transform: translate(70%, 80%);
  }
}

.red-ball {
  opacity: 0.5;
  position: absolute;
  width: 83px;
  height: 83px;
  left: 38%;
  top: 83px;
  border-radius: 50%;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%);
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  backdrop-filter: blur(2px);
}
@media only screen and (max-width: 31.25em) {
  .red-ball {
    display: none;
  }
}

.red-ball--small {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 57%;
  top: 540px;
  border-radius: 50%;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%);
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2.5px);
  backdrop-filter: blur(2px);
}
@media only screen and (max-width: 31.25em) {
  .red-ball--small {
    top: 510px;
    left: 10%;
    filter: blur(3px);
  }
}

.purple-ball {
  overflow: hidden;
  position: absolute;
  width: 60px;
  height: 60px;
  left: 60%;
  top: -2px;
  border-radius: 50%;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%);
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
  backdrop-filter: blur(2px);
}
@media only screen and (max-width: 31.25em) {
  .purple-ball {
    top: 400px;
    left: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
