.consult {
  text-align: right;

  @include breakpoint(tablet) {
    text-align: left;
  }

  &__title {
    margin-bottom: 40px;

    &--text {
      @include typography($ff-inter, $fs-medium, $fw-regular);
    }

    &--bold {
      @include typography($ff-inter, $fs-medium, $fw-bold);
      letter-spacing: 0.05em;
      text-transform: uppercase;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;

      @include breakpoint(mobile) {
        text-transform: lowercase;
        letter-spacing: 0;
      }
    }

  }

  &__list {
    padding: 0;
    list-style: none;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 138px);
    margin-bottom: 60px;

    @include breakpoint(mobile) {
      margin-bottom: 30px;
    }
  }

  &__list--desktop {

    @include breakpoint(mobile) {
      display: none;
    }
  }

  &__list--mobile {
    display: none;

    @include breakpoint(mobile) {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      grid-template-rows: repeat(2, auto);
      grid-auto-flow: column;
      text-transform: uppercase;
      @include typography($ff-montserrat, $fs-small, $fw-regular);
    }

    .consult__item {
      padding-left: 15px;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        top: 8px;
        left: 0;
        height: 1px;
        width: 10px;
        background-image: $gradient-bright;
      }
    }
  }



  &__item {
    padding: 0;
  }

  &__item-info {
    @include typography($ff-inter, $fs-medium, $fw-medium);
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
  }

  &__item-details {
    @include typography($ff-inter, $fs-regular, $fw-regular);
    display: block;

    abbr {
      @include typography($ff-inter, $fs-regular, $fw-regular);
    }
  }

  &__button {
    @include typography($ff-inter, $fs-regular, $fw-regular);
    background-color: $blue;
    padding: 21px 35px;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: darken($blue, 10%);
    }

    @include breakpoint(mobile) {
      font-size: small;
      padding: 13px 25px;
    }


  }
}
