.footer {

  &__wrapper {
    display: flex;
    margin-bottom: 33px;

    @include breakpoint(tablet) {
      flex-direction: column;
    }
  }

  &__about {
    margin-right: 98px;
  }

  &__menu {

    @include breakpoint(tablet) {
      margin-bottom: 30px;
    }
  }

  &__contacts {
    margin-left: auto;

    @include breakpoint(tablet) {
      margin: 0;
    }
  }

  &__law {
    text-align: right;

    @include breakpoint(tablet) {
      text-align: left;
    }
  }

  &__law-copy {
    @include typography($ff-montserrat, $fs-small, $fw-light);
    display: block;
    margin-bottom: 5px;

    span, time {
      @include typography($ff-montserrat, $fs-small, $fw-light);
    }
  }

  &__law-link {
    display: block;
    @include link($ff-montserrat, $fs-small, $fw-light);
    text-decoration: underline;
  }

}
