.hero {

  &__title {
    @include typography($ff-inter, $fs-huge, $fw-regular);
    max-width: 380px;
    margin-bottom: 30px;

    @include breakpoint(tablet) {
      font-size: $fs-huge-tablet;
    }

    @include breakpoint(mobile) {
      max-width: 275px;
    }

    &--bold {
      display: inline-block;
      font-weight: $fw-black;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__info {
    @include typography($ff-montserrat, $fs-medium, $fw-regular);
    max-width: 275px;
  }


}
