*, *::before, *::after {
  z-index: 2;
}

.page {
  background-color: $bg-dark;
  z-index: 1;
  position: relative;

  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1140px;
    padding: 50px 30px 20px;
    margin: 0 auto;

    @include breakpoint(mobile) {
      padding: 0;
      padding-bottom: 15px;
      align-items: stretch;
    }
  }

  &__header {
    margin-bottom: 75px;

    @include breakpoint(mobile) {
      margin: 0;
      padding: 20px 14px;
    }
  }

  &__main {
    flex-grow: 1;
    padding-bottom: 100px;

    @include breakpoint(tablet) {
      padding-bottom: 80px;
    }

    @include breakpoint(mobile) {
      padding: 100px 14px 60px;
    }
  }

  &__footer {
    padding: 20px 14px 0;
  }
}

.orange-grad {
  background-image: $gradient-bright;

  &--diag {
    background-image: $gradient-bright-diagonal;
  }
}
